body {
		background: #eee7d5;
		font-family:"Libre Baskerville";
	}
	#speakerbox {
		width: 300px;
		margin: 0 auto;
		background: #93a1a1;
		padding: 1px 20px;
		border-radius: 10px;
		overflow: hidden;
	}

	#speakerbox h3, #speakerbox h4{
		font-weight: normal;
		margin: 0;
		padding: 0;
	}

	#speakerbox h3 {
		color: #115f79;
		font-family: "Wendy One";
		font-size: 2em;
		line-height: .9em;
	}

	#speakerbox h4 {
		color: #973c26;
		font-weight:bold;
		line-height: 1.2em;
		margin-bottom: 5px;
	}

	#speakerbox img {
		float: right;
		margin-left: 10px;
		border-radius: 10px;
		width: 100px;
	}

	#speakerbox p {
		color: #1e3a40;
		font-size: .9em;
	}

	#speakerbox #next_btn, #speakerbox #prev_btn {
		background: #d33682;
		padding: 5px 10px;
		border-radius: 10px;
		margin: 10px 0;
		display: inline-block;
	}
	#speakerbox a#next_btn, #speakerbox a#prev_btn {
	text-decoration: none;
	color: #fff;
	}